.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* post article page */
.single {
	.post-thumbnail {
		height: 600px;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}
