.main-navigation {
	display: block;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		* {
			box-sizing: border-box;
			-webkit-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
	}

	li {
		width: fit-content;
		list-style: outside none none;
		margin: 0 1.2em;
		overflow: hidden;

		&:hover > a,
		&.focus > a {
			transform: translateX(100%);
		}
	}

	a {
		padding: 10px 0;
		color: $stashed_out_main_color;
		position: relative;
		display: inline-block;
		letter-spacing: 1px;
		margin: 0;
		text-decoration: none;

		&:before, &:after {
			position: absolute;
			-webkit-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}

		&:after {
			padding: 10px 0;
			position: absolute;
			right: 100%;
			top: 0;
			content: attr(data-hover);
			color: $stashed_out_dark_shade_gray;
			white-space: nowrap;
		}

		&:hover {
			text-decoration: none;
			color: transparent;
		}

		&:focus, &:active {
			color: $color_orange !important;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.fa-bars {
	visibility: hidden;
	@media (max-width: 1199px) {
		visibility: visible;
		position: fixed;
		right: 15px;
		top: 15px;
		text-align: center;
		z-index: 999;
		font-size: 20px;
		transition: all 0.4s;
		background-color: $color_orange;
		color: $color__background-body;
		width: 40px;
		height: 40px;
		line-height: 40px !important;
		border-radius: 50px;
		cursor: pointer;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
